<nav style="--bs-breadcrumb-divider: '>'; margin: 5%; text-decoration: none;" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/trangchu">Trang chủ</a></li>
    <li class="breadcrumb-item"><a routerLink="/dangky">Đăng ký</a></li>
    <li class="breadcrumb-item active" aria-current="page">Đăng nhập</li>
  </ol>
</nav>
<p class="nb">ĐĂNG NHẬP</p>
<div class="div">
    <form class="row g-3" >
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email đăng nhập:</label>
          <input type="email" class="form-control" id="inputEmail4" >
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Mật khẩu:</label>
          <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Đăng nhập</button>
        </div>
      </form>
    </div>
    
